<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Menu Starter</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button>
  <ion-grid>
    <ion-row>
      <ion-col>
        1 of 2
      </ion-col>
      <ion-col>
        2 of 2
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        1 of 3
      </ion-col>
      <ion-col>
        2 of 3
      </ion-col>
      <ion-col>
        3 of 3
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
